#steamlogo {
    fill: white;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.footer-text {
    margin-top: 20px;
}

.footer-btn {
    margin-top: 12px;
}

.table-img {
    max-width: 33%;
    height: auto;
}


.progress {
    width: 33%;
    margin: 0 auto;
}