{% block footer %}
{% endblock %}

<div class="col s6 footer-text" align="center">
    &copy; 2018 <a href="http://lingren.io/">@harrisonlingren</a> and <a href="http://github.com/momm3">@momm3</a>
</div>

<div class="col s6" align="center">
    <a href="https://github.com/harrisonlingren/steamstats">
        <button class="btn btn-outline-primary footer-btn">
            Check us out on <i class="fa fa-github"></i>
        </button>
    </a>
</div>