{% extends 'layout.jinja2' %}

{% block content %}

<div style="text-align: center;">
    <h1>Welcome to SteamStats</h1>
    <p>Please login using your Steam account below.</p>

    <button type="button" class="btn btn-secondary">Login Through Steam</button>

    
</div>

{# content goes here! #}

{% endblock %}