{% extends 'layout.jinja2' %}

{% block content %}

<div style="text-align: center;">
    <h1>Welcome to SteamStats</h1>
    <p>Please login using your Steam account below.</p>

    <p><a href="{{ url_for('index') }}"><style="background-image:url('https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png')"/></a>

    <button type="button" class="btn btn-secondary">Login Through Steam</button>

    
</div>

{# content goes here! #}

{% endblock %}