{% extends 'layout.jinja2' %}

{% block content %}

<div style="text-align: center;">
    <h1>Welcome to SteamStats</h1>
    <p>Please login using your Steam account below.</p>

    <a href="/login">
        <button type="button" class="btn btn-lg btn-secondary">
            Login with <i class="fab fa-steam"></i>
        </button>
    </a>    
</div>

{% endblock %}