{% extends 'layout.jinja2' %}

{% block content %}

<div style="text-align: center;">
    <h1><img src= {{ avatar }} class="img-fluid" alt="Responsive image"></img></h1>
    <h1>{{ username }}'s Profile</h1>
    <h3>Your profile was created on {{ timeCreated }}</h3>
</div>


{% endblock %}